body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #fad8d8;
  color: #333;
}

header {
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

